<div layout="row" layout-align="center">
    <md-card style="width: 80%">
        <md-card-content>
            <md-input-container>
                <label for="filter">Filter Results</label>
                <input type="text" name="filter" ng-model="name" ng-keyup="filterChart(selectedChart)">
            </md-input-container>
            <div ng-repeat="data in currentAnalytics | filter: name as filteredArray">
            </div>
            <div class="chart-container">
                <canvas id="genericChart" class="chart-base" chart-type="chart.type" chart-data="chart.data" chart-labels="chart.labels"
                    chart-options="chart.options"></canvas>
                <md-select ng-model="selectedChart" ng-change="changeChart(selectedChart)">
                    <md-option ng-repeat="(key, value) in charts" ng-value="key">
                        {{value}}
                    </md-option>
                </md-select>
            </div>
        </md-card-content>
    </md-card>
</div>
<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">Completed comments (past 30 days)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="comment in resultsDetail">
            <div class="md-list-item-text">
                <h3>{{comment.resolution_time.hours}} hour</h3>
                <h4>Completed by: {{comment.completed_by}}</h4>
                <p>{{comment.content}}</p>
            </div>
        </md-list-item>
    </md-list>
</md-content>
<!-- {{resultsDetail}} -->