<div layout="row" layout-align="center">
    <md-card flex-gt-sm="50" flex="100" layout="row" layout-align="center center">
        <div flex="75" layout="row" layout-wrap>
            <md-input-container flex="100">
                <input type="text" placeholder="Search" ng-model="searchFilter">
            </md-input-container>

            <md-list flex="100" layout="row" layout-wrap>
                <md-list-item class="md-2-line" ng-repeat="location in locations | filter: searchFilter | orderBy: 'name'" ui-sref="location({id: location.id})">
                    <div class="md-list-item-text">
                        <h3>{{location.name}}</h3>
                        <p>({{location.id}})</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <!-- <div>
            <ul>
                <li ng-repeat="location in locations | filter: searchFilter | orderBy: 'name'">
                    <md-button ui-sref="location({id: location.id})">{{location.name}} - {{location.id}}</md-button>
                </li>
            </ul>
        </div> -->
        <md-card-actions>
            <div ng-if="user.type === 'admin'" layout="row" layout-align="end">
                <md-button ui-sref="newLocation">
                    <md-icon>add</md-icon> Add New Location
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
</div>