<div layout="column" layout-align="center center">
    <span class="md-headline">{{location.name}}</span>
    <span class="md-subhead">({{location.id}})</span>
    <div class="simple-card" id="markerHolder">
        <img style="max-height: 80vh; max-width: 100vh" ng-src="{{S3PATH + location.floorplan}}" ng-click="showModal($event)" alt="">

        <div class="marker" ng-repeat="comment in comments track by $index" style="position: absolute; left: {{comment.x}}%; top: {{comment.y}}%">
            <span class="number">{{$index + 1}}</span>
            <!-- <span class="number">{{comment.id}}</span> -->
        </div>

    </div>
    <md-card ng-repeat="comment in comments track by $index">
        <img ng-src="{{S3PATH}}{{comment.location}}/{{comment.id}}.{{comment.image}}" class="md-card-image" alt="Washed Out">
        <!-- <img ng-if="comment.image" ng-src="{{comment.image}}" alt=""> -->
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{$index + 1}}</span>
                <span class="md-subhead">{{comment.created_at | date : 'medium'}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                {{comment.content}}
            </p>
        </md-card-content>
        <md-card-actions layout='row' layout-align='end center'>
            <md-button class="md-icon-button" ng-click="comments.splice($index, 1)">
                <md-icon>delete</md-icon>
            </md-button>

        </md-card-actions>
    </md-card>
</div>