<div layout="column" layout-align="center center">
    <h1>{{location.name | uppercase}} - {{location.id}}</h1>
    <div class="simple-card" id="markerHolder">
        <img style="max-height: 80vh; max-width: 100vh" ng-src="{{s3path + location.floorplan}}" ng-click="showModal($event)" alt="">

        <div class="marker" ng-repeat="comment in comments" style="position: absolute; left: {{comment.x}}px; top: {{comment.y}}px"></div>

    </div>
    <md-card ng-repeat="comment in comments">
        <img ng-if="comment.image" ng-src="{{comment.image}}" alt="">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{comment.id}}</span>
                <span class="md-subhead">{{comment.create_at}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>
                {{comment.text}}
            </p>
        </md-card-content>
        <md-card-actions layout='row' layout-align='end center'>
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>

        </md-card-actions>
    </md-card>
</div>