<div layout="column" layout-align="center center">
    <div class="simple-card" id="markerHolder">
        <img style="max-height: 80vh; max-width: 100vh" ng-src="{{S3PATH + location.floorplan}}" ng-click="showModal($event)" alt="">

        <div class="marker" ng-repeat="comment in comments track by comment.id" style="position: absolute; left: {{comment.x}}%; top: {{comment.y}}%">
            <span class="number">
                <a ng-click="highlighted=comment.id" href='#{{comment.id}}' du-smooth-scroll>{{$index + 1}}</a>
            </span>
        </div>

    </div>
    <span class="md-headline">Comments ({{comments.length}})</span>
    <div layout="column" layout-wrap layout-align="center center" style="width: 100%">
        <div ng-repeat="comment in comments track by comment.id" style="width: 75%">
            <md-card id="{{comment.id}}">
                <img ng-if="comment.image" ng-src="{{S3PATH}}{{comment.location}}/{{comment.id}}.{{comment.image}}" class="md-card-image"
                    alt="{{comment.id}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{$index + 1}}</span>
                        <span class="md-subhead">
                            {{comment.created_at | date : 'medium'}} | {{comment.author}}
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        {{comment.content}}
                    </p>
                </md-card-content>
                <md-card-actions layout='row' layout-align='end center'>

                    <md-button class="md-icon-button" ng-click="archiveComment(comment.id, $index)">
                        <md-icon>check</md-icon>
                    </md-button>
                    <md-button ng-if="user.type === 'admin' || user === comment.author" class="md-icon-button" ng-click="deleteComment(comment.id, $index)">
                        <md-icon>delete</md-icon>
                    </md-button>

                </md-card-actions>
            </md-card>
        </div>
    </div>
</div>