.simple-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
}
img:focus {
  outline: none;
}
.floorplan {
  /* max-height: 75vh; */
  /* max-width: 95vw; */
}

.mainContent {
  padding-top: 80px;
  min-height: 80vh;
}

.marker {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: rgb(233, 30, 99);
  z-index: 1;
  border-radius: 50%;
  transform: translate(-13px, -13px);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.marker a {
  color: white;
  text-decoration: none;
}

.number {
  vertical-align: middle;
}
#markerHolder {
  position: relative;
}

.error-message {
  color: rgb(221, 44, 0);
}

.accordion {
  padding: 0;
}
.subcategory {
  padding-left: 25px;
}
.taglist {
  padding-left: 25px;
}

/* NG-ANIMATIONS */
/* ************* */
/* SLIDE UP (SIBLINGS)*/
/* siblings of an animated object being removed */

md-card {
  transition: all 500ms;
}

.ng-leave ~ .jm-slide-up {
  transition: all 500ms;
}

.ng-leave ~ .jm-slide-up {
  transform: translateY(0);
}

.ng-leave-active ~ .jm-slide-up {
  /* would be nice to have this slide up 
  exactly the right about instead of this preset value */
  transform: translateY(-150px);
}

/* ************* */
/* SLIDE UP AND DOWN */
/* element being hidden by sliding up and shown by sliding down */

.jm-slide-up-down {
  transition: all 250ms ease-in-out;
}

/* .ng-hide.jm-slide-up {
  transition: all 1s;
} */

.ng-hide-add.jm-slide-up-down {
  max-height: 500px;
  overflow: hidden;
  /* opacity: 100; */
}

.ng-hide-add-active.jm-slide-up-down {
  max-height: 0;
}

.ng-hide-remove.jm-slide-up-down {
  max-height: 0;
  overflow: hidden;
  /* opacity: 100; */
}
.ng-hide-remove-active.jm-slide-up-down {
  max-height: 500px;
}

/* ************* */
/* SLIDE DOWN */
/* element being shown by sliding down */
/* DOESN'T WORK */
.ng-hide.jm-slide-down {
  /* .ng-hide.jm-slide-down { */
  /* transition: all 1s; */
}

.ng-hide-remove {
  /* transition: all 1s;
  max-height: 0; */
}

.ng-hide-remove-active {
  /* opacity: 100; */
  /* max-height: 2em; */
}

.ng-hide-remove.jm-slide-down {
  /* min-height: 0; */
  /* overflow: hidden; */
  /* opacity: 0; */
}

.ng-hide-remove-active.jm-slide-down {
  /* min-height: 2em; */
  /* opacity: 100; */
}

/* ************* */
/* SWEEP RIGHT */
/* animated object being removed by sweeping right */

.ng-animate.jm-sweep-right {
  transition: all 500ms;
}
.ng-leave.jm-sweep-right {
  transform: translateX(0);
  opacity: 100;
}
.ng-leave-active.jm-sweep-right {
  transform: translateX(400px);
  opacity: 0;
}

/* ************* */
/* FADE IN */
/* animated object being added by fading in */

.ng-animate.jm-fade {
  transition: all 250ms;
}
.ng-enter.jm-fade {
  opacity: 0;
}
.ng-enter-active.jm-fade {
  opacity: 100;
}

.ng-animate.jm-fade {
  transition: all 250ms;
}
.ng-leave.jm-fade {
  opacity: 100;
}
.ng-leave-active.jm-fade {
  opacity: 0;
}

/* ************* */
/* FADE OUT */
/* animated object being removed by fading out */

/* ************* */

/* animated object being removed by sweeping right */

/* 
md-card.ng-leave {
  transform: translateX(0px);
  opacity: 100;
  transform: translateX(0);
  transition: all 250ms;
} */
/* md-card.ng-leave-active {
  transform: scaleY(0.1);
  opacity: 0;
  transform: translateX(-100%);
} */

.invisible {
  border: 2px solid red;
  /* visibility: hidden !important; */
  /* display: block !important; */
}
/* 
.marker.ng-leave {
  opacity: 100;
} */
/* .marker.ng-leave-active {
  opacity: 0;
} */

/* .ng-leave ~ .removable {
  transform: translateY(0);
} */
/* .ng-leave-active ~ .removable {
  this goes up 100% of the CURRENT element height, not the deleted element 
  transform: translateY(-100%);
} */

/* .ng-enter {
  opacity: 0;
  transition: all 250ms;
} */
/* .ng-enter-active {
  opacity: 100;
} */

.dense {
  margin: 0px;
}

/* MATERIAL OVERRIDES */

md-dialog {
  min-width: 75%;
}
