.simple-card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
}
img:focus {
  outline: none;
}
.floorplan {
  max-height: 75vh;
  max-width: 95vw;
}

.mainContent {
  padding-top: 80px;
  min-height: 80vh;
}

.highlighted {
  background-color: red;
}

.marker {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: rgb(233, 30, 99);
  z-index: 1;
  border-radius: 50%;
  transform: translate(-13px, -13px);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.marker a {
  color: white;
  text-decoration: none;
}

.number {
  vertical-align: middle;
}
#markerHolder {
  position: relative;
}
.ng-animate,
.ng-animate ~ .removable {
  transition: all 250ms;
}
md-card.ng-leave {
  /* transform: translateX(0px); */
  opacity: 100;
  transform: translateX(0);
  /* transition: all 250ms; */
}
md-card.ng-leave-active {
  /* transform: scaleY(0.1); */
  opacity: 0;
  transform: translateX(-100%);
}

.invisible {
  border: 2px solid red;
  /* visibility: hidden !important; */
  /* display: block !important; */
}

.marker.ng-leave {
  opacity: 100;
}
.marker.ng-leave-active {
  opacity: 0;
}

.ng-leave ~ .removable {
  transform: translateY(0);
}
.ng-leave-active ~ .removable {
  /* this goes up 100% of the CURRENT element height, not the deleted element  */
  transform: translateY(-100%);
}

.ng-enter {
  opacity: 0;
  /* transition: all 250ms; */
}
.ng-enter-active {
  opacity: 100;
}

.dense {
  margin: 0px;
}

/* MATERIAL OVERRIDES */

md-dialog {
  min-width: 75%;
}
