<md-dialog aria-label="Add Comment">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Comment</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form name='newCommentForm' id='newCommentForm'>
                <div layout="column" layout-padding>
                    <div layout="column" layout-align="space between center">
                        <!-- maybe one day allow multiple images? -->
                        <img ngf-src="image || '../../images/thumbnail.svg'" ngf-no-object-url="true" style="max-height: 200px; max-width: 200px">
                        <md-button ngf-fix-orientation="true" ngf-select ngf-change="sign($file)" ng-model="image" name="image" ngf-pattern="'image/*'"
                            ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100">Add an Image</md-button>
                    </div>
                    <md-input-container>
                        <label for="content">Enter Comment</label>
                        <textarea name="content" ng-model="content"></textarea>
                    </md-input-container>
                    <div>
                        <p>Choose tags:</p>

                        <div ng-repeat="tag in selectedTags" class="chip">
                            <span>{{tag.title}}</span>
                        </div>
                    </div>
                    <div class="simple-card">
                        <div ng-repeat="(category, subcategories) in categories track by $index" ng-init="categoryIndex = $index" class="jm-slide-up-down">
                            <div class="category" ng-class="{shownCategory: shown[category]}" ng-click="shown[category]=!shown[category]">
                                <span>{{category}}
                                    <md-icon>{{shown[category] ? 'expand_less': 'expand_more'}}</md-icon>
                                </span>

                            </div>
                            <div ng-show="shown[category]" class="jm-slide-up-down">
                                <div ng-class="{shownCategory: shown[subcategory]}" ng-repeat="(subcategory, tags) in subcategories track by $index" ng-init="subcategoryIndex = $index"
                                    class="subcategory">
                                    <div class="subcategory" ng-click="shown[subcategory]=!shown[subcategory]">
                                        <span>{{subcategory}}
                                            <md-icon>{{shown[subcategory] ? 'expand_less': 'expand_more'}}</md-icon>
                                        </span>
                                    </div>
                                    <div class="jm-slide-up-down taglist" ng-show="shown[subcategory]" layout="row" layout-wrap layout-align="start">
                                        <md-button flex="auto" ng-repeat="tag in tags | orderBy: 'title' " ng-click="addTag(category, subcategory, tag.title)">{{tag.title}}</md-button>
                                    </div>
                                </div>
                            </div>
                            <!-- <md-divider></md-divider> -->
                        </div>
                    </div>
                    <!-- <div>
                        <md-chips ng-model="selectedTags">
                            <md-chip-template>
                                <strong>{{$chip.title}}</strong>
                            </md-chip-template>
                        </md-chips>
                    </div> -->
                </div>
                <!-- </form> -->
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="addComment()">
            Submit
        </md-button>
    </md-dialog-actions>

</md-dialog>